{%extends 'authentication\\base.html'%}
{%block main%}
<h3>		
	{%if list_of_users%}
		{%for user in list_of_users%}
			<ul>
				<div class ='form-group col-md-6'>
					<li>{{user.id}} {{user.first_name}} {{user.last_name}}
						<a href = {% url "authentication:delete_user" user.pk%} class = 'btn btn-primary'>Delete</a>
						<a href = {% url "authentication:update_user" user.pk%} class = 'btn btn-primary'>Update</a>
					</li>
				</div>
			</ul>
		{%endfor%}
	{%else%}There is nothing 
	{%endif%}
</h3>
<h5><a href = {% url "authentication:create_user" %}>Create user</a></h5>

{%endblock%}