{%extends 'author\\base.html'%}
{%block main%}
<h3>
	{%if list_of_authors%}
		{%for author in list_of_authors%}
			<ul>
				<div class ='form-group col-md-6'>
					<li>{{author.name}} {{author.surname}}
						<a href = {% url "author:delete_author" author.pk%} class = 'btn btn-primary'>Delete</a>
						<a href = {% url "author:update_author" author.pk%} class = 'btn btn-primary'>Update</a>
					</li>
				</div>
			</ul>
		{%endfor%}
	{%else%}There is nothing
	{%endif%}
</h3>
<h5><a href = {% url "author:create_author" %}>Create author</a></h5>

{%endblock%}